[Unit]
Description=Coturn STUN/TURN Server
Documentation=man:coturn(1) man:turnadmin(1) man:turnserver(1)
After=network.target
After=network-online.target
After=remote-fs.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
RuntimeDirectory=turnserver
ExecStart=/opt/coturn/bin/turnserver -c /opt/coturn/conf/turnserver.conf
Restart=on-failure
InaccessibleDirectories=/home
PrivateTmp=yes

[Install]
WantedBy=multi-user.target

